
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="employeeTable"  class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nama Warga</th>
            <th>Contact</th>
            <th>Status</th>
            <th>Rumah</th>
            <th>Sebagai</th>
            <th>Image</th>

        </tr>
    </thead>
</table>

<link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
<link href="https://cdn.datatables.net/buttons/1.6.0/css/buttons.dataTables.min.css" rel="stylesheet" />
@section scripts {
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.print.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#employeeTable").DataTable(
                {
                    "ajax": {
                        "url": "/Warga/loadDataWarga",
                        "type": "GET",
                        "datatype": "json"
                    },
                    "columns": [
                        { "data": "WargaName" },
                        { "data": "WargaNoTelp" },
                        { "data": "Warga_fk_Set" },
                        { "data": "Warga_fk_SetRumah" },
                        { "data": "Warga_fk_AnggotaKeluarga" },
                        //{ "data": "WargaImage" },
                        {   
                            "data": "WargaImage",
                            "render": function (data) {

                                //return '<img src="data:Upload;base64,{0},' + data + '" />';
                                return "<img src=\"" + data + "\" height=\"50\"/>";

                            }
                        },

                    ],
                    dom: 'Bfrtip',
                    buttons: [
                                        /*'copy', 'csv', 'excel',*/ 'pdf'/*, 'print'*/],
                }
            );

        });
    </script>
}

@*<table id="wargaTable" class="display">
        <thead>
            <tr>
                <th>NamaWarga</th>
                <th>No-Telp</th>
                <th>Status</th>
                <th>Rumah</th>
                <th>Sebagai</th>
                <th>Image</th>
            </tr>
        </thead>
    </table>
    <link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="
    https://cdn.datatables.net/buttons/1.6.0/css/buttons.dataTables.min.css" rel="stylesheet" />
    @section scripts{
        <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

        <script src="
    https://cdn.datatables.net/buttons/1.6.0/js/dataTables.buttons.min.js"></script>
        <script src="
    https://cdn.datatables.net/buttons/1.6.0/js/buttons.flash.min.js"></script>
        <script src="
    https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="
    https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script src="
    https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script src="
    https://cdn.datatables.net/buttons/1.6.0/js/buttons.html5.min.js"></script>
        <script src="
    https://cdn.datatables.net/buttons/1.6.0/js/buttons.print.min.js"></script>

        <script>

            $(document).ready(function () {
                $("#employeeTable").DataTable(
                    {
                        "ajax": {
                            "url": "/Admin/loadDataWarga",
                            "type": "GET",
                            "datatype": "json"
                        },
                        "columns": [
                            { "data": "WargaName" },
                            { "data": "WargaNoTelp" },
                            { "data": "Warga_fk_Set" },
                            { "data": "Warga_fk_SetRumah" },
                            { "data": "Warga_fk_AnggotaKeluarga" },
                            { "data": "WargaImage" },
                        ],
                        dom: 'Bfrtip',
                        buttons: [
                                /*'copy', 'csv', 'excel',*/ 'pdf'/*, 'print'*/]
                    }
                });
            });
        </script>
    }*@
